{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}

<!-- ##### Treading Post Area Start ##### -->
<div class="treading-post-area" id="treadingPost">
    <div class="close-icon">
        <i class="fa fa-times"></i>
    </div>

    <h4>Treading Post</h4>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/9.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Friend eggs with ham</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/10.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Mushrooms with pork chop</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/11.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Birthday cake with chocolate</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/9.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Friend eggs with ham</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/10.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Mushrooms with pork chop</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>

    <!-- Single Blog Post -->
    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
        <!-- Blog Thumbnail -->
        <div class="blog-thumbnail">
            <img src="img/bg-img/11.jpg" alt="">
        </div>
        <!-- Blog Content -->
        <div class="blog-content">
            <a href="#" class="post-tag">The Best</a>
            <a href="#" class="post-title">Birthday cake with chocolate</a>
            <div class="post-meta">
                <a href="#" class="post-date">July 11, 2018</a>
                <a href="#" class="post-author">By Julia Stiles</a>
            </div>
        </div>
    </div>
</div>
<!-- ##### Treading Post Area End ##### -->

<!-- ##### Search Area Start ##### -->
<div class="bueno-search-area section-padding-100-0 pb-70 bg-img"
    style="background-image: url(/static/img/core-img/pattern.png);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group mb-30">
                                <select class="form-control" id="recipe">
                                    <option value="">Recipe</option>
                                    <option value="">Recipe 1</option>
                                    <option value="">Recipe 2</option>
                                    <option value="">Recipe 3</option>
                                    <option value="">Recipe 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group mb-30">
                                <select class="form-control" id="vegan">
                                    <option value="">Vegan</option>
                                    <option value="">Vegan 1</option>
                                    <option value="">Vegan 2</option>
                                    <option value="">Vegan 3</option>
                                    <option value="">Vegan 4</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group mb-30">
                                <select class="form-control" id="ingredients">
                                    <option value="">Ingredients</option>
                                    <option value="">Ingredients 1</option>
                                    <option value="">Ingredients 2</option>
                                    <option value="">Ingredients 3</option>
                                    <option value="">Ingredients 4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="form-group mb-30">
                                <button class="btn bueno-btn w-100">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ##### Search Area End ##### -->

<!-- ##### Category Post Area Start ##### -->
<div class="catagory-post-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12 col-xl-12">
                <h5 class="title-bueno mb-4"><span class="ml-1">Category: {{ category.title }}</span></h5>
            </div>
            <!-- Post Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                {% for post in posts %}
                <!-- Single Blog Post -->
                <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                    </div>
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <a href="#" class="post-tag">{{ post.category.title }}</a>
                        <a href="#" class="post-title">{{ post.title }}</a>
                        <div class="post-meta">
                            <a href="#" class="post-date">{{ post.publishing_date }}</a>
                            <a href="#" class="post-author">By {{ post.user.username }}</a>
                        </div>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- Single Widget Area -->
                    <div class="single-widget-area author-widget mb-30">
                        <div class="background-pattern bg-img"
                            style="background-image: url(/static/img/core-img/pattern2.png);">
                            <div class="author-thumbnail">
                                <img src="{% static 'img/bg-img/23.jpg' %}" alt="">
                            </div>
                            <p>My name is <span>Jessica Smith</span>, I’m a passionate cook with a love for vegan food.
                            </p>
                        </div>
                        <div class="social-info">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area add-widget mb-30">
                        <img src="{% static 'img/bg-img/add.png' %}" alt="">
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area post-widget mb-30">
                        <h5 class="title-bueno mb-4"><span class="ml-1">Latest Post</span></h5>
                        {% for post in posts %}
                        <!-- Single Post Area -->
                        <div class="single-post-area d-flex">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <img src="{{ post.image.url }}" alt="">
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <a href="#" class="post-title">Friend eggs with ham</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date">July 11, 2018</a>
                                    <a href="#" class="post-author">By Julia Stiles</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="pagination-area mt-70">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">01</a></li>
                            <li class="page-item active"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Category Post Area End ##### -->

{% include 'includes/instagram.html' %}
{% endblock content %}